.lagna-ticket-container {
  width: 42rem;
  height: auto;
  max-height: 11rem;
  margin: 0 auto;
  display: flex;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Winning Numbers Section */
.lagna-ticket-winning-numbers {
  text-align: center;
  margin-bottom: 0.2rem;
}

.lagna-ticket-winning-numbers-title {
  color: white;
  font-size: 1rem;
  font-weight: 1000;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.lagna-ticket-winning-numbers-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.lagna-ticket-winning-number {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #ffffff;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lagna-ticket-winning-number:nth-child(4) {
  margin-right: 20px;
}

.lagna-ticket-winning-number-text {
  font-size: 1rem;
  font-weight: 1000;
  padding: 0.3rem 0.3rem;
}

/* Header Section */
.lagna-ticket-header {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
}

/* Logo Section */
.lagna-ticket-logo-container {
  display: flex;
  align-items: flex-start;
}

.lagna-ticket-logo {
  height: 11rem;
  width: 16rem;
}

/* Draw Number Section */
.lagna-ticket-draw-number-container {
  flex: 1;
  align-items: flex-start;
  margin-top: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.lagna-ticket-draw-number {
  background-color: #eceef1;
  border-radius: 0.375rem;
  padding: 0.3rem 0.3rem;
  display: inline-block;
}

.lagna-ticket-draw-number-text {
  background-color: #b4b4b4;
  /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%); */
  padding: 0.3rem 0.3rem;
  display: inline-block;
  color: #2d3748;
  font-weight: 1000;
  font-size: 0.75rem;
  text-align: center;
}

.lagna-ticket-draw-number-text1 {
  background-color: #eceef1;
  padding: 0.3rem 0.3rem;
  display: inline-block;
  color: #2d3748;
  font-weight: 1000;
  font-size: 0.75rem;
  text-align: center;
}

/* Color Section */
.lagna-ticket-colour-container {
  flex: 1;
  margin: 0 0.5rem;
  text-align: center;
  margin-top: 0.5rem;
}

.lagna-ticket-color {
  background-color: #f0f0f1;
  border-radius: 0.375rem;
  padding: 0.3rem 0.3rem;
  display: inline-block;
  margin-left: 3rem;
}

.lagna-ticket-colour-text {
  background-color: #f0f0f1;
  border-radius: 0.375rem;
  padding: 0.3rem 0.3rem;
  display: inline-block;
  margin-left: 3rem;
  color:black;
  font-weight: 1000;
  font-size: 0.75rem;
  text-align: center;
}


.lagna-ticket-colour-text1 {
  background-color: #f0f0f1;
  border-radius: 0.375rem;
  padding: 0.3rem 0.3rem;
  display: inline-block;
  color:black;
  font-weight: 1000;
  font-size: 0.75rem;
  text-align: center;
}


/* Bottom Section */
.lagna-ticket-bottom {
  display: flex;
  align-items: flex-start;
  margin-left: -15rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  width: 13rem;
  background-color: #2d3748;
  padding: 0.5rem 0.5rem;
  border-radius: 0.375rem;
  display: flex;
  color: white;
  font-size: 0.675rem;
}

/* Next Jackpot */

/* .lagna-ticket-next-jackpot {
  display: flex;
  color: white;
  font-size: 0.575rem;
} */

.lagna-ticket-special {
 display: flex;
}

/* Special Prize Section */
.lagna-ticket-special-prize-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: auto;
  padding: 0.3rem 0.5rem 0.3rem 0.3rem;
}

.lagna-ticket-special-prize-icon {
  margin-left: -1.5rem;
  margin-top: -1rem;
  height: auto;
  width: auto;
  
}

/* Additional Styling */
.special-numbers {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 0.775rem;
  font-weight: 1000;
}

body {
  color: rgb(0, 0, 0);
  font-size: 0.575rem;
  font-weight: 1000;
}

.lagna-ticket-ball-image {
  width: 4rem; /* Adjust as needed */
  height: auto;
  padding: 0.5rem 0.5rem;
  display: inline-block;
}

.lagna-ticket-ball-name {
  text-align: center;
  font-size: 0.5rem;
  font-weight: bold;
  margin-top: -8.5px;
  color: #333;
}

