.shanida-ticket-container {
    width: 42rem;
    height: auto;
    max-height: 11rem;
    margin: 0 auto;
    display: flex;
    background-color: rgba(20, 19, 20, 0.925);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
    
    /* Header Section */
  .shanida-ticket-header {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    margin-bottom: 0.5rem;
  }
    
    /* Logo Section */
  .shanida-ticket-logo-container {
      display: flex;
      align-items: flex-start;
    }
    
  .shanida-ticket-logo {
    height: 11rem;
    width: 12rem;
  }
  
  /* Draw Number Section */
  .shanida-ticket-draw-number-container {
    flex: 1;
    align-items: flex-start;
    margin-top: 0.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
    
  .shanida-ticket-draw-number {
    background-color: #eceef1;
    border-radius: 0.375rem;
    padding: 0.3rem 0.3rem;
    display: inline-block;
  }
    
  .shanida-ticket-draw-number-text {
    color: black;
    font-weight: 1000;
    font-size: 0.6rem;
  }
  
  /* Color Section */
  .shanida-ticket-colour-container {
    flex: 1;
    margin: 0 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
  }
  
  .shanida-ticket-color {
    background-color: #f0f0f1;
    border-radius: 0.375rem;
    padding: 0.3rem 0.3rem;
    display: inline-block;
    margin-left: 3rem;
  }
  
  .shanida-ticket-colour-text {
    color:black;
    font-weight: 1000;
    font-size: 0.6rem;
  }
  
  /* Winning Numbers Section */
  .shanida-ticket-winning-numbers {
    justify-content: center;
    margin-bottom: 0.5rem;
  }
  
  .shanida-ticket-winning-numbers-title {
    color: white;
    font-size: 1rem;
    font-weight: 1000;
    margin-left: 0.8rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .shanida-ticket-winning-numbers-container {
    display: flex;
    justify-content: flex-start;
    margin-left: -0.25rem;
    gap: 0.75rem;
  }
  
  .shanida-ticket-winning-number {
    width: 2.2rem;
    height: 2.2rem;
    background-color: #ffffff;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .shanida-ticket-winning-number-text {
    font-size: 1.5rem;
    font-weight: 1000;
    text-align: center;
  }
  
  /* Bottom Section */
  .shanida-ticket-bottom {
    display: flex;
    align-items: center;
    margin-left: -4rem;
    margin-right: 2rem;
    width: 11rem;
    background-color: #2d3748;
    padding: 0.5rem 0.5rem;
    border-radius: 0.375rem;
  }
  
  /* Next Jackpot */
  .shanida-ticket-next-jackpot {
    display: flex;
    color: white;
    font-size: 0.475rem;
  }

  .shanida-ticket-special {
    display: flex;
   }
   
   /* Special Prize Section */
   .shanida-ticket-special-prize-container {
     display: flex;
     background-color: #ffffff;
     border-radius: 0.5rem;
     height: 1.8rem;
     width: 14rem;
   }
   
   .shanida-ticket-special-prize-icon {
     margin-left: -1.5rem;
     margin-top: -0.5rem;
     height: auto;
     width: auto;
     
   }
   
   /* Additional Styling */
   body {
     color: rgb(0, 0, 0);
     font-size: 0.575rem;
   }
  
  